{% extends 'base.html' %}

{% block title %}
  <h1>{{ heading }}</h1>
{% endblock %}


{% block content %}
  <img src="../static/images/carson_chipmunk.jpg" class='mx-auto d-block' alt="Carson with 2 tennis balls">

  <h3>Description:</h3>
  <p>Heather M. (Cormier) Bhowmick is a GIS professional, providing technical assistance for projects ranging in scale from the regional level to streetscapes. Using a variety of image processing and mapping software, she conducts spatial and statistical analyses to encourage compact development and natural resource preservation. In addition, she enjoys distilling complex geospatial concepts into straightforward infographics and web applications to effectively engage with and inform the public.</p>

  <p>She is also obsessed with dogs.</p>

{% endblock %}
